.header {
  background-color: var(--bgColor-inset) !important;
  display: flex !important;
  gap: var(--base-size-8);
  justify-content: space-between;
}

.headerLink {
  color: var(--fgColor-default) !important;
  min-width: 100px;
}

.headerLink:hover,
.headerLink:active,
.headerLink:visited {
  color: var(--fgColor-default) !important;
  text-decoration: underline;
}

.headerActions {
  display: flex;
  gap: var(--base-size-8);
}

.octicon {
  margin-right: 12px;
}

.iconButton {
  border: 1px solid var(--borderColor-default) !important;
}
