.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.innerContainer {
  max-width: 800px;
  width: 100%;
  padding: 0 16px 96px 16px;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font: var(--text-title-shorthand-medium);
}

.formContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 16px 8px;
  overflow-y: auto;
}

.issueToolbar {
  display: flex;
  width: 100%;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bgColor-muted);
  border-bottom: 1px solid var(--borderColor-default);
  position: sticky;
  top: 0;
  z-index: 1;
}

.issueTitleInput {
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
}
