.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow-y: auto;
}

.innerContainer {
  max-width: 800px;
  width: 100%;
  padding: 16px 16px 96px 16px;
  display: flex;
  flex-direction: column;
}

.textareaContainer {
  position: relative;
  width: 100%;
}

.highlightOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: transparent;
  font: inherit;
  padding: 12px;
  box-sizing: border-box;
  line-height: 15px;
  overflow: hidden;
  z-index: 0;
}

.issueBodyInput {
  position: relative;
  background: transparent;
  z-index: 1;
  font: inherit;
  box-sizing: border-box;
  line-height: 21px;
  overflow: hidden;
  pointer-events: none;
  overflow-y: auto;
}

.formTitle {
  font: var(--text-title-shorthand-medium);
}

.formContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 16px 0;
  overflow: visible;
}

.issueToolbar {
  display: flex;
  width: 100%;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bgColor-muted);
  border-bottom: 1px solid var(--borderColor-default);
  position: sticky;
  top: 0;
  z-index: 1;
}

.issueToolbarLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}

.issueToolbarRight {
  display: flex;
  gap: 8px;
  align-items: center;
}

.issueTitleInput {
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: flex-end;
}

.highlight {
  /* background-color: var(--bgColor-attention-muted); */
  border-bottom: 2px dotted var(--borderColor-attention-emphasis);
  cursor: pointer;
  pointer-events: auto; /* Allow pointer events since they are ignored on the actual text area */
  transition:
    background-color 0.15s,
    border-bottom-color 0.15s;
}

.highlight:hover {
  background-color: var(--bgColor-attention-emphasis);
  border-bottom: 2px dashed var(--borderColor-attention-emphasis);
}

.focusedHighlight {
  background-color: var(--bgColor-attention-emphasis);
  border-bottom: 2px dashed var(--borderColor-attention-emphasis);
  border-radius: 4px;
}

.improvementsContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  position: relative;
}

.improvementsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.improvementBox {
  border: 1px solid var(--borderColor-default);
  padding: 0 16px 16px 16px;
  border-radius: 6px;
}

.improvementBox:hover {
  border-color: var(--borderColor-accent-emphasis);
  cursor: pointer;
}

.improvementBox:focus {
  border-color: var(--borderColor-accent-emphasis);
}

.improvementBoxTitle {
  font: var(--text-title-shorthand-small);
  color: var(--fgColor-default);
}

.improvementBoxCaption {
  color: var(--fgColor-muted);
}

.focusedImprovementBox {
  border-color: var(--borderColor-accent-emphasis);
}

.improvementBoxButtons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  background-color: var(--bgColor-attention-muted);
  border-bottom: 2px dashed var(--borderColor-attention-emphasis);
}

.mainContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
