.improvementsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.improvementsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  background-color: var(--bgColor-muted);
  border-bottom: 1px solid var(--borderColor-default);
}

.improvementsList {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  overflow-y: auto;
  padding: 16px;
}

.rewriteLabel,
.discreteLabel {
  padding: 0 0 6px 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--fgColor-muted);
}

.discreteLabel {
  padding: 6px 0;
}

.improvementsHeaderTitle {
  font: var(--text-body-shorthand-medium);
  font-weight: var(--text-title-weight-small);
  color: var(--fgColor-default);
  margin: 0;
}

.improvementItem {
  border: 1px solid var(--borderColor-default);
  border-radius: 6px;
  padding: 16px;
}

.improvementItemOriginalText,
.improvementItemProposedText {
  margin: 0;
}

.improvementItemOriginalText {
  background-color: var(--bgColor-danger-muted);
  text-decoration: line-through;
}

.improvementItemProposedText {
  background-color: var(--bgColor-success-muted);
}

.improvementReasoning {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.improvementItemReasoningText {
  font: var(--text-caption-shorthand);
  color: var(--fgColor-muted);
}

.improvementItem:hover {
  border-color: var(--borderColor-emphasis);
  cursor: pointer;
}

.improvementItem:focus {
  border-color: var(--borderColor-accent-emphasis);
}

.improvementItemButtons {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.improvementItemApplyDiscardButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.emptyStateButtons {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
